/* BULMA CDN */
@import "https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css";

/* GOOGLE FONTS */
@import url('https://fonts.googleapis.com/css2?family=Nanum+Pen+Script&display=swap');

/* HTML */
html {
    scroll-behavior: smooth;
}

/* BODY */
body {
    font-family: 'Nanum Pen Script', cursive !important;
    font-size: 2.5rem !important;
}

/* HIDE */
.hide {
    display: none;
}

/* NAVBAR */
.navbar {
  padding: 0.2rem 1rem;
  width: 100%;
  position: sticky !important;
  top: 0;
}

.navbar-item a {
    border: none;
}

.navbar-item {
    padding: 0 !important;
}

.navbar button {
    font-family: 'Nanum Pen Script', cursive !important;
}

.navbar button {
    font-family: 'Nanum Pen Script', cursive !important;
}

/* MAIN */
main {
    position: relative;
}

/* ASIDE */
aside {
    width: 25%; 
    padding: 2rem 1rem 0;
    position: fixed;
}

#user-input {
    font-family: 'Nanum Pen Script', cursive;
}

#submit-btn { 
    font-family: 'Nanum Pen Script', cursive;
    transition: 0.3s ease-out;
}

#submit-btn:hover {
    color: #000;
}

.search-btn {
    color: #ffe08a !important;
}

#recent-search {
    margin-top: 3.2rem;
}

/* SECTION  */
section {
    width: 75%;
    position: relative;
    left: 25%;
}

.main-container {
    padding: 2rem 1rem 5rem;
}

/* GIFS-CONTAINER */
.gifs-header {
    border: 10px solid #485fc7;
}

.memes-header {
    border: 10px solid #485fc7;
}

.gifs-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    grid-gap: 0.5rem;
}

.gifs-container a {
    max-height: 300px;
}

.gifs-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#no-memes-found {
    text-align: right;
}

/* MEMES-CONTAINER */
.memes-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(190px, 1fr));
    grid-gap: 1rem;
}

.memes-container a {
    max-height: 300px;
}

.memes-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* MODAL */
.modal {
    font-family: Arial, Helvetica, sans-serif;
}

/* MEDIA QUERY */
@media screen and (max-width: 1024px) {
    .search-field {
        flex-direction: column;
    }

    .search-field button {
        margin-top: 1rem;
    }

    .memes-container {
        grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    }
}

@media screen and (max-width: 768px) {
    main {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    #recent-search {
        display: none;
    }

    aside {
        position: static;
        width: 80%;
    }

    .search-field button {
        width: 80% !important;
        margin: 1rem auto;
    }

    #search-bar {
        margin-bottom: 1rem !important;
    }

    section {
        width: 95%;
        position: static;
        left: 0;
    }
}

@media screen and (max-width: 477px) {
    .navbar-responsive-class {
        flex-direction: column;
        align-items: center;
    }

   .navbar-links {
        gap: 5rem;
   }
}