/* BULMA CDN */
@import "https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css";

/* GOOGLE FONTS */
@import url('https://fonts.googleapis.com/css2?family=Nanum+Pen+Script&display=swap');

/* HTML */
html {
    scroll-behavior: smooth;
}

/* BODY */
body {
    font-family: 'Nanum Pen Script', cursive !important;
    font-size: 2.5rem !important;
}

/* HIDE */
.hide {
    display: none;
}

/* NAVBAR */
.navbar {
  padding: 0.2rem 1rem;
}

.navbar-item a {
    border: none;
}

.navbar button {
    font-family: 'Nanum Pen Script', cursive !important;
}

.navbar button {
    font-family: 'Nanum Pen Script', cursive !important;
}

/* ASIDE */
aside {
    width: 25%; 
    padding: 2rem 1rem 0;
}

#user-input {
    font-family: 'Nanum Pen Script', cursive;
}

#submit-btn { 
    font-family: 'Nanum Pen Script', cursive;
    transition: 0.3s ease-out;
}

#submit-btn:hover {
    color: #000;
}

.search-btn {
    color: #ffe08a !important;
}

/* SECTION  */
section {
    width: 75%;
}

/* MODAL */
.modal {
    font-family: Arial, Helvetica, sans-serif;
}

/* MEDIA QUERY */
@media screen and (max-width: 1024px) {
    .search-field {
        flex-direction: column;
    }

    .search-field button {
        margin-top: 1rem;
    }
}